-- migration to consolidate terminology
-- rename invoices to bills
ALTER TABLE IF EXISTS invoices RENAME TO bills;
ALTER TABLE IF EXISTS invoice_items RENAME TO bill_items;
ALTER TABLE IF EXISTS bill_items RENAME COLUMN invoice_id TO bill_id;

-- rename column invoice_number to bill_number in bills table
ALTER TABLE IF EXISTS bills RENAME COLUMN invoice_number TO bill_number;

-- rename patient_bills to estimate_bills
ALTER TABLE IF EXISTS patient_bills RENAME TO estimate_bills;
ALTER TABLE IF EXISTS patient_bill_items RENAME TO estimate_bill_items;
ALTER TABLE IF EXISTS estimate_bills RENAME COLUMN bill_number TO estimate_number;
ALTER TABLE IF EXISTS estimate_bills RENAME COLUMN bill_date TO estimate_date;
ALTER TABLE IF EXISTS estimate_bill_items RENAME COLUMN bill_id TO estimate_id;

-- update payments table
ALTER TABLE IF EXISTS payments RENAME COLUMN invoice_id TO bill_id;

